<% layout("layouts/boilerplate")%>
    <div><a href="/programs">All Programs</a></div>
    <div>
        <h1>
            <%=program.title%>
        </h1>
        <div>
            <%=program.description%>
        </div>
    </div>
    <h2>Workouts</h2>
    <%for (let w=0; w < workouts.length; w ++) {%>
        <div>
            <div>
                <a href="/programs/<%=program._id%>/workouts/<%=workouts[w]._id%>">
                    <%= workouts[w].session%>
                </a>
            </div>
            <div>
                <%=workouts[w].description%>
            </div>
        </div>
        <% } %>