<% layout("layouts/boilerplate")%>

    <div><a href="/programs">All Programs</a> /<a href="/programs/<%=program._id%>/workouts">
            All Workouts
        </a></div>
    <h1>
        <%= workout.session %>
    </h1>
    <div>
        <table>
            <thead>
                <tr>
                    <td>Exercises</td>
                    <td>Sets</td>
                    <td>Reps</td>
                </tr>
            </thead>
            <tbody>
                <% for (let e of workout) { %>
                    <tr>
                        <td>
                            <%= e.exercise %>
                        </td>
                        <td>
                            <%= e.sets %>
                        </td>
                        <td>
                            <%= e.reps %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>