<% layout("layouts/boilerplate")%>
    <h1>
        <%= workout.session %>
    </h1>
    <table>
        <thead>
            <tr>
                <td>Exercises</td>
                <td>Sets</td>
                <td>Reps</td>
            </tr>
        </thead>
        <tbody>
            <% for (let e of workout.exercises) { %>
                <tr>
                    <td>
                        <%= e.exercise %>
                    </td>
                    <td>
                        <%= e.sets %>
                    </td>
                    <td>
                        <%= e.reps %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <h2>Add Exercises</h2>
    <form action="/workouts/<%=workout._id%>" method="POST">
        <label for="exercises[exercise]">Exercise</label>
        <input type="text" name="exercises[exercise]" id="exercises[exercise]">
        <label for="exercises[sets]">Sets</label>
        <input type="number" name="exercises[sets]" id="exercises[sets]">
        <label for="exercises[reps]">Reps</label>
        <input type="number" name="exercises[reps]" id="exercises[reps]">
        <button>Submit</button>
    </form>